
.item-container {
    width: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-bottom: 8px; 
}

.pill-wrapper {
    position: absolute;
    min-width: 8px;
    display: flex;
    align-items: center;
    left: 0;
    height: 100%;
}

.pill {
    width: 4px;
    background-color: white;
    height: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: scale(0);
    transition: all 100ms ease-in;
}


.pill-hover {
    transform: scale(1);
}

.pill-active {
    height: 40px;
    transform: scale(1);
}

.icon-container {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    justify-content: center;
    background-color: var(--background-primary);
    align-items: center;
    transition: all 200ms;
    cursor: pointer;
}

.icon-container:hover, .icon-container-active{
    border-radius: 16px;
    background-color: var(--primary);
}

