
.page {
    min-height: 100vh;
    user-select: none;
    display: flex;
    background: var(--background-secondary);
    max-height: 100vh;
}


.main-content {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    transition: all 200ms ease;
    max-height: 100%;
}

.main-content-hidden {
    transform: scale(0.9);
}

.guild-sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-tertiary);
    border-left: 1px solid var(--border-container);
}

.content-container {
    flex-grow: 1;
    /* width: 100%; */
}


.guild-list-container {
    display: flex;
    flex-direction: column;
    border-right: 1px;
    background: var(--background-tertiary);
    padding-top: 12px;
    align-items: center;
    gap: 8px;
}

.horizontal-divider {
    height: 2px;
    width: 32px;
    background-color: var(--header-modifier-accent);
}