

.container {
    display: flex;
    align-items: center;
}

.checkbox {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: 6px;
    cursor: pointer;
    flex-shrink: 0;
}

.checkbox-checked {
    background-color: var(--checkbox-background-checked);
}

.checkbox-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-text {
    font-size: 12px;
    padding-left: 8px;
    line-height: 1.333;
}