
.label-container {
    display: flex;
    font-size: 12px;
    color: var(--header-secondary);
    margin-bottom: 8px;
    /* text-align: center ; */
}

.input {
    width: 100%;
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    padding: 12px 10px;
    font-size: 16px;
    border-radius: 8px;

    min-height: 44px;
    min-width: 0;

    &:focus {
        outline: 1px solid var(--input-focused);
    }
}

.input-transparent {
    width: 100%;
    background-color: transparent;
    padding: 12px 10px;
    font-size: 16px;
    border-radius: 8px;

    min-width: 0;
    outline: none;
}

.text-helper {
    font-size: 14px;
    line-height: 1.25;
    overflow: hidden;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(10);
    transition: all 0.3s ease-in, opacity 0.4s ease-out;
}

.text-helper-active {
    transform: translateY(0);
    opacity: 1;
}

/* .text-helper {
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

.text-helper-active {
    display: block;
} */