
.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.label-container {
    display: flex;
    font-size: 12px;
    color: var(--header-secondary);
    margin-bottom: 8px;
}

.input-box {
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    padding: 12px 10px;
    font-size: 6px;
    border-radius: 8px;
}

.input-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: row;
}