.container {
  height: 56px;
  width: 100%;
  padding: 0px 8px;
  background-color: oklab(0.338524 0.00199042 -0.0121031);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-subtle);
}

.user-info-container {
  display: flex;
  align-items: center;
  background-color: inherit;
  border-radius: 8px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 4px 0;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--background-modifier-selected);
  }
}

.user-identifier-wrapper {
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  padding: 0 4px;
  padding-left: 8px;
  line-height: 13px;
}


.display-name-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--header-primary);
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
}

.subtext {
  color: var(--header-secondary);
  line-height: 13px;
  text-overflow: ellipsis;
  position: relative;
}



.setting-wrapper {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
}

.icon-container {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: var(--background-modifier-selected);
  }

}

.status-text {
    transform: translateZ(0);
    transition: all 200ms ease;
    opacity: 1;
}

.status-text-hover {
    transform: translate3d(0, -107%, 0);
    opacity: 0;
}

.username-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 107%, 0);
    transition: all 200ms ease;
    opacity: 0;
}

.username-text-hover {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


.idle-icon {
    transform: scale(-1,1);
}