
.search-container {
    width: 100%;
    background: var(--background-tertiary);
    line-height: 24px;
    border-radius: 4px;
}

.search-placeholder {
    color: var(--text-muted);
    font-size: 14px;
    padding: 1px 6px;
    font-weight: 500;
}