.page {
  position: absolute;
  background: var(--background-primary);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
}


.sidebar-region {
  background-color: var(--background-secondary);
  display: flex;
  flex: 1 0 230px;
  justify-content: flex-end;
}

.sidebar-container {
  padding: 60px 0;
  padding-right: 8px;
  padding-left: 20px;
  overflow-y: scroll;
  width: 264px;
}

.sidebar-container::-webkit-scrollbar {
  width: 8px;
}

.sidebar-container::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #888;
}

.search-bar {
  display: flex;
  background: var(--background-tertiary);
  flex: 1;
  align-items: center;
  padding: 1px;
  position: relative;
  border-radius: 4px;
  margin-bottom: 20px;
}

.search-input {
  background: transparent;
  line-height: 32px;
  padding: 0 8px;
  margin: 1px;
}

.search-icon {
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  color: var(--text-muted);
  pointer-events: none;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
}

.section-header {
  padding: 6px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: var(--channel-default);
  letter-spacing: 0.24px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;

  span {
    display: flex;
  }

  h2 {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
  }

  p {
    color: var(--text-default);
  }
}

.sidebar-item-container {
  background-color: transparent;
  cursor: pointer;
  padding: 6px 10px;
  margin-bottom: 2px;
  line-height: 20px;
  border-radius: 4px;
  &:hover {
    background: var(--background-modifier-hover);
  }
}

.sidebar-item-container-active {
  background: var(--background-modifier-selected);
}

.section-separator {
  margin: 8px 10px;
  height: 1px;
  background: var(--background-modifier-accent);
}

.content-region {
  display: flex;
  flex: 1 1 800px;
}

.content-container {
  display: flex;
  flex: 1 1 auto;
  min-width: 460px;
  max-width: 740px;
  padding: 60px 40px 0px;
}

.tools-region {
  padding-top: 60px;
}

.close-button-container {
  display: flex;
  color: var(--interactive-normal);
  flex-direction: column;
  align-items: center;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid var(--interactive-normal);
  cursor: pointer;
}

.close-button:hover {
  color: var(--interactive-hover);
  border-color: var(--interactive-hover);
}

.close-button:hover + .close-label {
  color: var(--interactive-hover);
}

.close-label {
  font-size: 13px;
  font-weight: 600;
  margin-top: 8px;
}

.socials-wrapper {
  display: flex;
  gap: 8px;
  padding: 8px 10px;
  flex-direction: row;
  font-size: 12px;
  .link {
    color: var(--interactive-normal);
  }
}

.notes {
  padding: 8px 10px;
  font-size: 12px;
  color: var(--text-muted);
  letter-spacing: 0.1px;
  line-height: 14px;
}
