
.content-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 580px;
}

@keyframes show {
  0% {
    transform: translateY(-25%) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}


.content-container {
    animation: 300ms ease-in-out 0s 1 show;
    display: flex;
    background-color: var(--container-background);
    padding: 32px;
    border-radius: 8px;
    transition: all 300ms ease-in;
}

.content-container-disappear {
    transform: translateY(-25%) scale(1.5);
    opacity: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 416px;
}

.title-container {
    text-align: center;
}

.second-title {
    color: var(--header-secondary)
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex-grow: 1;
}

.vertical-separator {
    padding: 0 32px;
}

.quick-login-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    min-width: 240px;
    justify-content: center;
}

.qr-code-card {
    position: relative;
    width: 176px;
    height: 176px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 32px;
}

.qr-icon-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;   
}

.qr-code {
    padding: 8px;
    position: absolute;
    width: 160px;
    height: 160px;
}

.qr-icon {
}

.qr-info-text {
    font-size: 16px;
    width: 0;
    min-width: 100%;
    font-weight: 400;
    color: var(--header-secondary);
    text-align: center;
    line-height: 1.25;
}

.register-text {
    font-size: 14px;
    margin-top: 12px;
}