.page {
  background-image: url("/login_background.svg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  position: absolute;
  top: 48px;
  left: 48px;
  box-sizing: content-box;
}

.content-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 580px;
  transition: all 1000ms linear;
}

.content-container {
  display: flex;
  background-color: var(--container-background);
  padding: 32px;
  border-radius: 8px;
  transition: all 1000ms linear;
}

.register-container {
  display: flex;
  flex-direction: column;
  width: 416px;
  transition: all 1000ms linear;
}

.title-container {
  text-align: center;
}

.second-title {
  color: var(--header-secondary);
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-grow: 1;
}

.tos-text {
  font-size: 12px;
  margin-top: 8px;
  color: var(--text-muted);
}

.subscribe-text {
    font-size: 12px;
    padding-left: 8px;
    line-height: 1.333;
    color: var(--text-muted);
}

.login-text {
  font-size: 14px;
  margin-top: 20px;
}