.button {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 24px;
  border-radius: 4px;
  /* width: 100%; */
  font-weight: 500;
  position: relative;
}

.button:hover {
  background-color: var(--background-modifier-hover);
}

.loading-wrapper {
  display: flex;
  height: 24px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dot-flashing {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #9880ff;
  color: white;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -8px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #9880ff;
  color: white;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 8px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #9880ff;
  color: white;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: white;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}
