
.page {
    min-height: 100vh;
    user-select: none;
    display: flex;
    background: var(--background-secondary);
}


.main-content {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    transition: all 200ms ease;
}

.main-content-hidden {
    transform: scale(0.9);
}

.guild-sidebar-container {
    display: flex;
    flex-direction: column;
}