.container {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  box-sizing: border-box;
  min-width: 0;
}

.input {
  background-color: var(--input-background);
  font-size: 16px;
  border-radius: 4px;
  min-width: 0;
  padding: 12px 10px;

  height: 40px;
  cursor: default;

  &:focus {
    outline: none;
  }
}

.dropdown-icon {
  position: absolute;
  right: 0;
  padding: 12px 10px;
  pointer-events: none;
  color: var(--header-secondary);
}

.dropdown-select-container {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 100%;
  background-color: var(--container-background);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  max-height: 220px;
  overflow-y: scroll;
}

.dropdown-select-item {
  padding: 14px 12px;
  cursor: pointer;
  &:hover {
    background: var(--container-background-hover);
  }

  &:focus {
    background: var(--container-background-hover);
  }
}

.dropdown-select-item-not-found {
  text-align: center;
  padding: 10px 8px;
  color: var(--header-secondary);
  font-size: 14px;
  cursor: default;
  pointer-events: none;
  user-select: none;
}

.dropdown-select-container::-webkit-scrollbar {
  width: 8px;
}

.dropdown-select-container::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #888;
}
