
.page {
    min-height: 100vh;
    user-select: none;
    display: flex;
    background: var(--background-secondary);
    max-height: 100vh;
}


.main-content {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    transition: all 200ms ease;
    max-height: 100%;
}

.main-content-hidden {
    transform: scale(0.9);
}

.guild-sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-tertiary);
    border-left: 1px solid var(--border-container);
}

.content-container {
    flex-grow: 1;
    /* width: 100%; */
}